{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "relay",
        "module:fast-async",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-do-expressions",
        [
            "babel-plugin-root-import",
            {
                "rootPathSuffix": "client"
            }
        ]
    ]
}