[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-graphql = "*"
graphene = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.7"
